.days {
    $root: &;

    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 100%;
    min-width: 270px;
    align-content: flex-start;
    padding: 8px;
    margin: -8px;
    gap: 16px;

    &Mobile {
        #{$root}Droppable {
            width: 100%;
        }
    }
}