.form {
    position: relative;
    display: grid;
    gap: 16px;
    padding-top: 24px !important;
    min-width: 280px;

    &Mobile {
        position: absolute;
        bottom: 10px;
        left: 20px !important;
        top: unset !important;
        right: unset !important;
    }

    &Button {
        margin-top: 8px;
    }

    & &Close {
        position: absolute;
        top: 4px;
        right: 4px;
        z-index: 1;

        padding: 2px;
        color: var(--mui-palette-error-light);

        &:hover {
            color: var(--mui-palette-error-main);
        }
    }
}

.anchor {
    width: fit-content;
}