.activity {
    $root: &;

    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    padding: 8px;

    border: 1px solid var(--mui-palette-grey-300);
    box-shadow: var(--mui-shadows-1);
    background: var(--mui-palette-common-white);
    border-radius: 8px;

    &:hover {
        box-shadow: var(--mui-shadows-2);

        #{$root}Actions {
            visibility: visible;
        }
    }

    &Icon {
        width: 26px;
        height: 26px;
    }

    &Actions {
        margin-left: auto;
        visibility: hidden;
    }

    & &Delete {
        padding: 2px;
        color: var(--mui-palette-error-light);

        &:hover {
            color: var(--mui-palette-error-main);
        }
    }
}