.card {
    width: 200px;
    min-width: 200px;
    min-height: 200px;
    cursor: pointer;

    &:hover {
        box-shadow: var(--mui-shadows-4);
    }

    &Content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 !important;
    }

    & &Icon {
        width: 90%;
        height: 90%;
        color: var(--mui-palette-grey-300);
    }
}