.trips {
    display: grid;
    gap: 16px;
}

.tripList {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.link {
    text-decoration: none;
}

.card {
    width: 200px;
    height: 100%;
    min-height: 200px;

    &:hover {
        box-shadow: var(--mui-shadows-4);
    }
}