@import "~leaflet/dist/leaflet.css";
@import '~react-toastify/dist/ReactToastify.css';

html {
    overscroll-behavior: none;
}

html,
body,
#root {
    height: 100%;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: var(--mui-palette-grey-300);
    border: 1px solid var(--mui-palette-primary-light);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--mui-palette-grey-500);
}

.leaflet-attribution-flag {
    display: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: initial !important;
    -webkit-text-fill-color: #000 !important;
}

.leaflet-popup-content p {
    all: unset;
}