.container {
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.leftPane {
    overflow: hidden;
    background-color: #f6f7f880;
}

.transition {
    transition: width 0.5s ease;
}

.childContainer {
    padding: 24px;
    height: 100%;
}