.trip {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 24px;
    height: 100%;

    &Header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        &Title {
            display: flex;
            align-items: center;
            gap: 12px;
        }
    }
}

.fields {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;

    margin-top: 8px;

    &Field {
        display: flex;
        gap: 4px;
    }

    &Label {
        color: var(--mui-palette-grey-500);
    }
}