.trip {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.fields {
    display: flex;
    gap: 16px;

    &Field {
        display: flex;
        gap: 4px;
    }

    &Label {
        color: var(--mui-palette-grey-500);
    }
}